SP2018/WebDevelopment/TypeScript/.vs/
SP2018/WebDevelopment/TypeScript/packages/
SP2018/WebDevelopment/TypeScript/TypeScript/bin/
SP2018/WebDevelopment/TypeScript/TypeScript/obj/
SP2018/WebDevelopment/WebApplication1/.vs/
SP2018/WebDevelopment/WebApplication1/WebApplication1/bin/
SP2018/WebDevelopment/WebApplication1/WebApplication1/obj/
SP2018/OfficeDev2/CallingTheGraph/CallingTheGraph/.vs/
SP2018/OfficeDev2/CallingTheGraph/CallingTheGraph/CallingTheGraph/bin/
SP2018/OfficeDev2/CallingTheGraph/CallingTheGraph/CallingTheGraph/obj/
SP2018/OfficeDev2/CallingTheGraph/CallingTheGraph/packages/
